<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Scholastic Login Suite" parallel="true" thread-count="2">
    
    <test name="Facebook Login">
        <classes>
            <class name="Tests.Login"></class>
        </classes>
    </test>
    
    <test name="Facebook Sign up">
        <classes>
            <class name="Tests.SignUp"></class>
        </classes>
    </test>
    
</suite>